{extend name='extra@admin/content'}

        {block name="button"}

        <div class="nowrap pull-right" style="margin-top:10px">
            <button data-modal='{:url("$classuri/add")}' data-title="添加banner" class='layui-btn layui-btn-small'><i
                    class='fa fa-plus'></i> 添加banner
            </button>
            <button data-update data-field='delete' data-action='{:url("$classuri/del")}'
                    class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除banner
            </button>
        </div>
{/block}

        {block name="content"}
        {if $list}

        <form onsubmit="return false;" data-auto="" method="POST">
            <input type="hidden" value="resort" name="action"/>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th class='list-table-check-td'>
                        <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                    </th>
                    <th class='list-table-sort-td'>
                        <button type="submit" class="layui-btn layui-btn-normal layui-btn-mini">排 序</button>
                    </th>
                    <th class='text-center'>图片</th>
                    <th class='text-center'>图片标题</th>
                    <th class='text-center'>所属分类</th>
                    <th class='text-center'>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $key=>$vo}
                <tr>
                    <td class='list-table-check-td'>
                        <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
                    </td>
                    <td class='list-table-sort-td'>
                        <input name="_{$vo.id}" value="{$vo.sort}" class="list-sort-input"/>
                    </td>
                    <td class='text-center'><img width="172.5" data-tips-image="" height="100" src="{$vo.filename}"></td>
                    <td class='text-center'>{$vo.title}</td>
                    <td class='text-center'>{if $vo.type==1}主页{elseif $vo.type==2}订房模块{/if}</td>
                    <td class='text-center nowrap'>
                        {if auth("$classuri/edit")}
                        <span class="text-explode">|</span>
                        <a data-modal='{:url("$classuri/edit")}?id={$vo.id}' href="javascript:void(0)">修改</a>
                        {/if}
                        {if auth("$classuri/del")}
                        <span class="text-explode">|</span>
                        <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'
                           href="javascript:void(0)">删除</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            {if isset($page)}<p>{$page}</p>{/if}
        </form>
        {else}
            <p class="layui-elem-quote">您的列表暂时没有任何记录！</p>
        {/if}
        {/block}
